body{
    margin: 0;
}
img{
    width: 100%;
}
h1{
    text-align: center;
    text-shadow: 0px 10px 15px violet, 0px 15px 15px black;
    font-family: "Press Start 2P", cursive;
}
.logo{
    width: 40%;
    margin: 50px auto;
}
.father-1, .father-2{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.text, .image{
    width: 300px;
    flex-grow: 1;
    padding: 30px;
}
.about{
    width: 200px;
    flex-grow: 1;
    padding: 15px;
    text-align: center;
    font-weight: 900;
}
.minecraft{
    background: linear-gradient(to bottom, white, lightblue, aqua);
    padding: 70px 0;
    margin-bottom: 70px;
}
.roblox{
    background: linear-gradient(to bottom, white, lightblue, rgb(8, 255, 62));
    padding: 70px 0;
    margin-bottom: 70px;
}
.NfS{
    background: linear-gradient(to bottom, white, lightblue, rgb(255, 8, 8), white);
    padding: 70px 0;
   
}
.footer{
    padding-bottom: 100px;
    padding-top: 100px;
    background: linear-gradient(to bottom, white, darkblue, white);
color: black;
}